@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-base: #0c0c46;
  --color-brand-purple: #742183;
  --color-brand-blue-extraLight: #f1f9fc;
}

@layer base {
  html,
  body {
    color: var(--color-text-base);
    background: var(--color-brand-blue-extraLight);
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-5xl font-semibold leading-[60px];
  }
  h3 {
    @apply text-2xl font-medium;
  }

  @media screen(sm) {
    h1 {
      @apply text-6xl leading-[70px];
    }
  }
}

.no-scroll {
  overflow: hidden;
}
